@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

body {
   background-color: #f9fafb;
   min-height: 100vh;
   padding-top: 1.5rem;
   padding-left: 0.75rem;
   padding-right: 0.75rem;
   width: 100%;
}

.container {
   max-width: 80rem;
   margin: 0 auto;
}

nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   user-select: none;
   width: 100%;
}

.logo {
   text-decoration: none;
   width: 25%;
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-left: 1.5rem;
   padding-right: 1rem;
}

.logo span {
   font-size: 1.5rem;
   font-weight: 700;
   color: #000;
   padding: 0.5rem;
   text-transform: uppercase;
   letter-spacing: 0.1rem;
}

.logo span:hover{
   color: indigo;
}

.navbar {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: end;
   height: 100%;
}

.navbar .btn-carrito {
   text-align: center;
   width: 55%;
   text-decoration: none;
   color: #000;
   font-size: 2rem;
   font-weight: 500;
   text-transform: uppercase;
   padding: 1rem;
}

.navbar #carrito {
   display: none;
}

#cantidad-carrito {
   position: absolute;
   top: 0;
   right: 0;
   background-color: red;
   color: #fff;
   font-size: 0.8rem;
   font-weight: 700;
   padding: 0.25rem 0.5rem;
   border-radius: 50%;  
}

.btn-add{
  margin-top: 5px;
    display: inline-block;
    color: #ffffff;
    width: 100%;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
    height: 2.5rem;
    text-align: center;
    font-size: 0.80rem;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #166da3;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0px 30px;
    border: 1px solid transparent;
    border-image: initial;
}

.btn-add:hover{
    background-color: #0f4a7d;
    border: 1px solid transparent;
    color: #fff;
}

.navbar:hover #carrito {
   display: block;
   position: absolute;
   right: 0;
   top: 100%;
   z-index: 2;
   background-color: white;
   padding: 1.25rem;
   min-height: 25rem;
   min-width: 18.75rem;
}


/* Estilos para la tabla */
.text-center{
   text-align: center;
}

.message{
   font-weight: 600;
   color: #000;
   font-size: 1.5rem;
   padding: 0.6rem;
}


.btn{
   padding: 0.35rem;
   background-color: #000000;
   color:#FFFFFF;
   cursor: pointer;
   border: none;
   border-radius: 0.25rem;
   transition: background-color 0.3s ease;
}

#lista-carrito {
   border-collapse: collapse;
   width: 100%;
   margin-bottom: 3rem;
}

#lista-carrito th,
#lista-carrito td {
   padding: 1.5rem;
   text-align: center;
   vertical-align: middle;
}

#lista-carrito th {
   text-transform: uppercase;
   font-size: 0.8rem;
   font-weight: 600;
   color: #000;
   border-bottom: 1px solid #131212;
}

#lista-carrito td {
   font-size: 0.9rem;
   color: #000;
   border-bottom: 1px solid #eee;
}

#lista-carrito td:first-child {
   width: 20%;
}

#lista-carrito td:nth-child(2) {
   width: 50%;
}

#lista-carrito td:nth-child(3) {
   width: 15%;
}

#lista-carrito td:nth-child(4) {
   width: 10%;
}

#lista-carrito td:nth-child(5) {
   width: 5%;
}

#lista-carrito img {
   max-width: 100%;
}

#total-pagar {
   text-align: center;
   font-size: 1.5rem;
   font-weight: 700;
   color: #000;
   margin-bottom: 1rem;
}

.borrar-producto {
   display: inline-block;
   padding: 5px 10px;
   background-color: red;
   font-size: 1rem;
   color: #fff;
   text-decoration: none;
   border-radius: 0.25rem;
   transition: background-color 0.3s ease;
   border: none;
   cursor: pointer;
}

.borrar-producto:hover {
   background-color: #b91c1c;
}

/* Estilos para el enlace */
#vaciar-carrito {
   display: inline-block;
   color: #000000;
   width: 100%;
   text-decoration: none;
   border-radius: 0.25rem;
   transition: background-color 0.3s ease;
   height: 2.5rem;
   text-align: center;
   font-size: 0.80rem;
   font-weight: 600;
   line-height: 38px;
   letter-spacing: 0.1rem;
   text-transform: uppercase;
   white-space: nowrap;
   background-color: transparent;
   cursor: pointer;
   box-sizing: border-box;
   padding: 0px 30px;
   border: 1px solid rgb(7, 6, 6);
   border-image: initial;
}


#pagar-compra{
   margin-bottom: 1rem;
   display: inline-block;
   color: #000000;
   width: 100%;
   text-decoration: none;
   border-radius: 0.25rem;
   transition: background-color 0.3s ease;
   height: 2.5rem;
   text-align: center;
   font-size: 0.80rem;
   font-weight: 600;
   line-height: 38px;
   letter-spacing: 0.1rem;
   text-transform: uppercase;
   white-space: nowrap;
   background-color: #22c55e;
   cursor: pointer;
   box-sizing: border-box;
   padding: 0px 30px;
   border: 1px solid transparent;
   border-image: initial;
}

#pagar-compra:hover{
   background-color: #16a34a;
   border: 1px solid transparent;
   color: #000;
}

#vaciar-carrito:hover {
   background-color: #d1d5db;
   border: 1px solid #776;
   color: #000;
}

/* CARRUSEL */

.swiper-slide {
   width: 100%;
   height: 30rem;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 0.6rem;
   background-color: #000;
}

.swiper-slide img {
   width: 100%;
   height: 30rem;
   display: block;
   border-radius: 0.5rem;
   object-fit: cover;
}

img {
   object-fit: cover;
}

.swiper button {
   width: 50px;
   height: 50px;
   color: #fff;
   background-color: transparent;
   border: none;
   outline: none;
   transition: opacity 0.3s;
}

.swiper button:hover {
   opacity: 0.5;
}

.swiper button::before,
.swiper button::after {
   font-size: 24px;
}

.swiper-button-prev {
   left: 25px;
}

.swiper-button-next {
   right: 25px;
}

.swiper-pagination-bullet {
   background-color: #fff;
}

/* PRODUCTOS */
.titulo {
   text-align: center;
   font-size: 2rem;
   font-weight: 700;
   color: #000;
   margin-top: 2rem;
   text-transform: uppercase;
   margin-bottom: 2rem;
   letter-spacing: 0.2rem;
}

.row {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 1rem;
}

.card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #fff;
   padding: 0.5rem;
   margin-bottom: 1rem;
   border-radius: 0.5rem;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
   width: 100%;
   height: 20rem;
   object-fit: cover;
   border-radius: 0.5rem;
}

.card .card-header {
   margin-top: 1rem;
   text-align: center;
   margin-bottom: 1rem;
}

.card .card-header h3 {
   font-size: 1.2rem;
   font-weight: 500;
   color: #000;
   margin-bottom: 0.5rem;
}

.card .card-header h3 span {
   font-size: 1rem;
   font-weight: 400;
   color: #776;
   margin-bottom: 0.8rem;
}

.precio{
   display: flex;
}

.card a {
   display: inline-block;
   color: #000000;
   width: 100%;
   text-decoration: none;
   border-radius: 0.25rem;
   transition: background-color 0.3s ease;
   height: 2.5rem;
   text-align: center;
   font-size: 0.80rem;
   margin-top: 1rem;
   font-weight: 600;
   line-height: 2.125rem;
   letter-spacing: 0.1rem;
   text-transform: uppercase;
   white-space: nowrap;
   background-color: transparent;
   cursor: pointer;
   box-sizing: border-box;
   padding: 0px 30px;
   border: 1px solid rgb(7, 6, 6);
   border-image: initial;
}

.card a:hover {
   background-color: #d1d5db;
   border: 1px solid #776;
   color: indigo;
}


/* Estilo para dispositivos móviles menos de 740px */

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  
   #lista-carrito td,
   #lista-carrito th {
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
     width: 100%;
   }
   #lista-carrito td{
      padding: 0.5rem 1rem;
     font-size: 0.8rem;
   }
   

   .swiper-container {
      width: 100%;
      height: 15rem;
   }

   .carousel {
      max-width: 100%;
   }

   .swiper-slide img {
      height: 15rem;
      object-fit: cover;
   }

   .swiper-button-prev,
   .swiper-button-next,
   .swiper-pagination {
      font-size: 1.5rem;
   }

   .row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 1rem;
   }

   .card {
      margin-bottom: 1rem;
   }

   .card img {

      height: 30rem;

   }

   .card .card-header h3 {
      font-size: 1rem;
      font-weight: 500;
      color: #000;
      margin-bottom: 0.5rem;
   }

   .card .card-header h3 span {
      font-size: 0.8rem;
      font-weight: 400;
      color: #776;
      margin-bottom: 0.8rem;
   }

}

@media screen and (max-width: 400px) {
   #lista-carrito td,
   #lista-carrito th {
      padding: 0.2rem 0.01rem;
      font-size: 0.61rem;
     width: 100%;
   }
   #lista-carrito td{
      padding: 0.5rem 1rem;
     font-size: 0.75rem;
   }
   #lista-carrito img {
      max-width: 160%;
   }

   .swiper-container {
      width: 100%;
      height: 15rem;
   }
}

/* Estilos para tabletas */
@media (min-width: 768px) and (max-width: 1023px) {

   .swiper-button-prev,
   .swiper-button-next,
   .swiper-pagination {
      font-size: 2rem;
   }
}

/* Estilos para computadoras de escritorio */
@media (min-width: 1024px) {
   .swiper {
      max-width: 80rem;
   }

   .carousel {
      max-width: 75rem;
   }

   .swiper-slide img {
      height: 30rem;
   }

   .swiper-button-prev,
   .swiper-button-next,
   .swiper-pagination {
      font-size: 2.5rem;
   }
}